<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncClipboardService" version="1.5.0" targetFramework="net462" />
  <package id="MSFT.ParallelExtensionsExtras" version="1.2.0" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net462" />
</packages>